{# src/Wyg/WygBundle/Resources/views/Page/contact.html.twig #}
{% extends 'WygWygBundle::layout.html.twig' %}

{% block title %}Meetup{% endblock%}

{% block body %}
    <header>
        <h1>Add meetup</h1>
    </header>

    <p>You've got a meetup? Add it here!</p>

    <div class="formDialog">
    <form action="{{ path('WygWygBundle_meetup_new') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}

        {{ form_row(form.description) }}

        {{ form_row(form.geo_long) }}
        {{ form_row(form.geo_lat) }}

        {{ form_row(form.dt_meetup) }}
        {{ form_row(form.duration) }}

        {{ form_row(form.private) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
        </div>
{% endblock %}