{# src/Wyg/WygBundle/Resouces/views/Meetup/showcollection.html.twig #}
{% extends 'WygWygBundle::layout.html.twig' %}

{% block title %}Show ALL the meetups!{% endblock %}

{% block body %}
    <table class="meetup">
        <tr>
            <th>Name</th>
            <th>Organizer</th>
            <th>Date</th>
            <th>Attendees</th>
        </tr>
        {% for meetup in meetups %}
        <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
            <td><a href="{{ path('WygWygBundle_meetup_show', { 'id': meetup.id }) }}">{{ meetup.name }}</a></td>
            <td><a href="{{ path('WygWygBundle_user_show', { 'name': meetup.owner.username }) }}">{{ meetup.owner.username }}</a></td>
            <td>{{ meetup.dtmeetup|date('F j, Y - H:i:s') }}</td>
            <td>{{ meetup.attendees|length }}</td>
        </tr>
        {% endfor %}
    </table>

    {% include 'WygWygBundle:Meetup:addnew.html.twig' %}
{% endblock %}