{# src/Wyg/WygBundle/Resources/views/Page/contact.html.twig #}
{% extends 'WygWygBundle::layout.html.twig' %}

{% block title %}User{% endblock%}

{% block body %}
    <header>
        {% if mode == "edit" %}
        <h1>Edit user</h1>
        {% else %}
        <h1>Register a new user</h1>
        {% endif %}
    </header>

    {% if mode == "edit" %}
    <p>Modify your profile information here...</p>
    {% set route = 'WygWygBundle_user_profile' %}
    {% else %}
    <p>Register, join and create meetups!</p>
    {% set route = 'WygWygBundle_user_register' %}
    {% endif %}

    <div class="formDialog">
    <form action="{{ path(route) }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

{% if form.betakey is defined %}
        <fieldset>
           <legend>Betakey</legend>
           {{ form_row(form.betakey) }}
        </fieldset>
{% endif %}

        <fieldset>
            <legend>Global info</legend>
            <br />
    {% if mode == "add" %}
            {{ form_row(form.username) }}
    {% endif %}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
        </fieldset>
        <br />

        <fieldset>
            <legend>Authentication</legend>
            <br />
            {{ form_row(form.password) }}
        </fieldset>

        <br />
        {{ form_rest(form) }}

        {% if mode == "edit" %}
        <input type="submit" value="Modify profile" />
        {% else %}
        <input type="submit" value="Create profile" />
        {% endif %}

    </form>
        </div>
{% endblock %}